 /*CSS GENERAL*/
*{box-sizing: border-box; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  background-color:  #626364;
}

li {
list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER*/
header {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
}

header nav {
    background-color: #494A4A;
    position: fixed;
    width: 100%;
    height: 60px;
    
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
 
  nav ul.ul-logo {
    float: left;
  }
  
  nav ul li {
    margin: 0;
    padding: 15px 12px 0 12px;
    float: left;
    font-size: 1.5rem;
    height: 60px;
  }
  nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
  }
  nav ul li.logo {
    background-image:url("../img/logofinal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    margin-left: 10px;
  }
 

.ul-menu-arriba{
  margin-left: 200px;    /* Margen para que la lista vaya mas a la derecha del logo. */
}
/*HEADER*/

/*CONTENIDO*/
.content {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.titleGenres {
  text-align: center;
  margin-top: 100px;
}

.contenedor {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contsongs{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.titleArtists {
  text-align: center;
  margin-top: 100px;
}

.titleAlbumes {
  text-align: center;
  margin-top: 80px;
}

.cancionesTitle {
  margin: 80px 0px 0px 10px;
}

.artistasTitle {
  margin: 20px 0px 0px 10px;
}


/* Puse un display flex para mejorar un poco la estetica de la section. Wrap para que se vea todo en el mismo plano. y Space-evenly para que no este todo pegado. */

article {
  width: 20%;
  margin: 0px 10px;
}





img {
  width: 100%;
}

/*generos*/

.titulo-de-gen{

  font-size: 100px;
  background-color: #CDCAC8;
  margin: 0px 400px;
  border-radius: 50px;

}


.data{
  
  background-color: #CDCAC8 ;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: black;
}





/*CONTENIDO*/

/*desde aca*/

/*HASTA ACA*/



/*FOOTER*/

footer {
  text-align: center;
  min-height: 200px;
  width: 100%;
  -webkit-box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
   box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
}
footer ul {
  margin: 0 15%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-between ;
}

footer ul li {
  /* ESTILOS. */
  background-color:  #808284;
  width: 170px;
  margin:15px 0px;
  border: 1px;
  padding:10px 20px;  
  font-size: 24px;
  font-weight: bold;
  
}
footer a {
  text-decoration: none;
  color: white;
}
footer ul li {
  list-style-type: none;
}
/* FOOTER */












/* media quris*/


/*ipad*/
@media (max-width: 768px) {

  footer ul {
    margin: 0 2%;
    
  
}


.titulo-de-gen{

  font-size: 50px;
  

}


}

/*ipad*/



/*telefono*/
@media (max-width: 480px) {

/*falta terminar*/

 
header nav {
  background-color: #f3f5f8;
  position: absolute;
  width: 100%;
  height: 130px;
}



  
  



  

  

  footer ul {
    margin: 0 2%;
    flex-direction: column;
    align-content: space-around;
    
}



footer ul li {
  background-color: gainsboro;
  width: 440px;
  margin: 15px 0px;
  border: 1px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;


}


/*telefono*/
}

/*media queris*/

