 /*CSS GENERAL*/
*{box-sizing: border-box; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

body {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  font-size: 1rem;
  background-color: #dddddd;
}


li {
list-style: none;
}

a {
    text-decoration: none;
}

/*HEADER*/
header {
  display: flex;
  flex-wrap: wrap;
  top: 0;
  width: 100%;
}

header nav {
    background-color:  whitesmoke;
    position: fixed;
    width: 100%;
    height: 60px;
    
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
 
  nav ul.ul-logo {
    float: left;
  }
  
  nav ul li {
    margin: 0;
    padding: 15px 12px 0 12px;
    float: left;
    font-size: 1.5rem;
    height: 60px;
  }
  nav ul li a {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  nav ul li.logo {
    background-image:url("../img/logofinal.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    margin-left: 10px;
  }
 

.ul-menu-arriba{
  margin-left: 200px;    /* Margen para que la lista vaya mas a la derecha del logo. */
}
/*HEADER*/

/* Fondo inicial */

.fondo {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.fondoInicial {
  width: 50%;
}
/* Fondo inicial */

/*CONTENIDO*/
.content {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.titleGenres {
  
  margin-left: 3%;
  margin-top: 100px;
  font-size: 200%;
}
.tit-playlist{
  margin-left: 3%;
  margin-top: 100px;
  font-size: 70px;
}

.titleArtists {
  text-align: center;
  margin-top: 100px;
}

.titleAlbumes {
  text-align: center;
  margin-top: 80px;
}

.cancionesTitle {
  margin: 90px 0px 0px 10px;
}

.artistasTitle {
  margin: 20px 0px 0px 10px;
}

/* Index:  */

.jsSongs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.jsAlbum {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.jsArtistas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.imgAlbum {
  margin-right: 20px;
}

/* Titulos */
.cancionesTitle {
  margin: 40px 90px;
  font-size: 400%;
  
}

.artistasTitle {
  margin: 40px 90px;
  font-size: 400%;
  
}

.albumesTitle {
  margin: 40px 90px;
  font-size: 400%;
  
}
/* Titulos */


/* Puse un display flex para mejorar un poco la estetica de la section. Wrap para que se vea todo en el mismo plano. y Space-evenly para que no este todo pegado. */








/* home canciones*/
.canciones{
  
  
 
  display: flex;
 
  flex-direction: row;
  
 
}

.ul-canciones{

  background-color: #b8b5b5;
  margin: 10px;
  padding: 10px 30px 20px;

}

/* home canciones*/


/* home artistas*/
.artistas{
  
  
 
  display: flex;
 
  flex-direction: row;
  
 
}

.ul-artistas{

  background-color: #b8b5b5;
  margin: 10px;
  padding: 10px 30px 20px;

}

/* home artistas*/



/* home albums*/

.albums{
  
  
 
  display: flex;
 
  flex-direction: row;
  
 
}

.ul-album{

  background-color: #b8b5b5;
  margin: 10px;
  padding: 10px 30px 20px;

}

/* home albums*/

.Generos-data{

background-color: #b8b5b5;
padding: 30px 40px;
margin: 20px 20px;
border-radius: 1%;



}

/*BUSCADOR*/
.tit-resultadodebusqueda{
  
  display: flex;
  
  font-size: 300%;
}

.Buscador{
  
  
 
  display: flex;
 
  flex-direction: row;
  
 
}

.ul-Buscador{

  background-color: #b8b5b5;
  margin: 10px;
  padding: 10px 30px 20px;

}

.jssearch{
  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

  

}


/*BUSCADOR*/


/* DETALLE CANCIONES*/

.tit-detalle{

margin-top: 80px;
display: flex;
justify-content: center




}

.canciones-detalle{

  margin-top: 1%;
  margin-bottom: 6%;
  display: flex;
 
  flex-direction: row;
  justify-content: center;

}

.ul-canciones-detalle{

  background-color: #b8b5b5;
  margin: 10px;
  padding: 30px 40px 20px;
  display: flex;


}
.ul-canciones-detalle2{

  
  display: flex;


}

.img-detalle{

  margin-right: 10px;

}

/* detalle artista*/

.ul-artistas-detalle2{

display: flex;
justify-content: center;


}

.ul-artistas-detalle{

  background-color: #b8b5b5;
  margin: 10px;
  padding: 30px 40px 20px;
  display: flex;


}

/*artista*/


/*genero detalle*/

.se-generos{

  display: flex;
  background-color: #b8b5b5;
  margin: 10px;
  padding: 30px 40px 20px;


}

.jsgenere{

display: flex;

}

.Nombre-artsistasg{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;


}



/*genero detalle*/




/* DETALLE CANCIONES*/


/*CONTENIDO*/

/*desde aca*/

/*HASTA ACA*/



/*FOOTER*/

footer {
  text-align: center;
  min-height: 200px;
  width: 100%;
  -webkit-box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
  box-shadow: 0px -10px 9px -10px rgba(0,0,0,.8);
  margin-bottom: 40px;
}
footer ul {
  margin: 0 10%;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: space-between ;
}

footer ul li {
  /* ESTILOS. */
  background-color:  #b8b5b5;
  width: 370px;
  margin:15px 0px;
  border: 1px;
  padding:10px 20px;  
  font-size: 24px;
  font-weight: bold;
  
}
footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
footer ul li {
  list-style-type: none;
}
/* FOOTER */












/* media quris*/


/*ipad*/
@media (max-width: 768px) {

  footer ul {
    margin: 0 2%;
    display: flex;
    justify-content: center;
  
}


.titulo-de-gen{

  font-size: 50px;
  
}

}
.titulo-playlist{
  text-align: center;
  margin-top: 100px;
  font-size: 70px;
  background-color: #CDCAC8;
  margin: 100px 500px;
  border-radius: 50px;
}

/*ipad*/



/*telefono*/
@media (max-width: 480px) {

/*falta terminar*/

 
header nav {
  background-color: #f3f5f8;
  position: absolute;
  width: 100%;
  height: 360px;
  margin-bottom: 200px;
  
}
.ul-menu-arriba {
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  
 
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


nav ul li {
  margin: 3px;
  padding: 15px 12px 0 12px;
  
  font-size: 1.5rem;
  height: 60px;
  width: 430px;
  font-size: 30px;
  
  

}




.titulo-de-gen {
  font-size: 50px;
  margin: 60px;
  margin-top: 450px;
}

  
  


.fondo {
  display: flex;
  justify-content: center;
  margin-top: 400px
}

  

  footer ul {
    margin: 0 2%;
    flex-direction: column;
    align-content: space-around;
    
}



footer ul li {
  background-color: b8b5b5;
  width: 440px;
  margin: 15px 0px;
  border: 1px;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: bold;
}



/*telefono*/
}
.dark-mode {
  background-color: rgb(36, 36, 36);
  color: white;
}
.darkmode{
  display: flex;
  align-items: first baseline;
  font-size: 20px;
  margin: 30px;
  margin-top: 10px;
  border-color: black;
}

/*media queris*/

